.jumbotron{
	background-color:yellow;
}
footer{
	
	background-color:yellow;
	color:black;
	margin-top:20px;
	padding-top:10px;
}

.cardHoteles{
	flex:1 250px;
	margin-top:10px;
	padding:2px 5px;
}
.btnCard {
	width: 100%;
	margin: 0 10px;
}